.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

body {
  background-color: #ccc;
  margin: 0 auto;
  font-family: Helvetica, sans-serif; }

h4 {
  background-color: lime;
  font-family: Helvetica, sans-serif; }

.tick {
  width: 15px;
  height: 15px;
  border: none;
  float: right; }

.bakerloo {
  background-color: #996633;
  color: white;
  padding: 10px; }

.central {
  background-color: #CC3333;
  color: white;
  padding: 10px; }

.circle {
  background-color: #FFCC00;
  color: #333;
  padding: 10px; }

.district {
  background-color: #006633;
  color: white;
  padding: 10px; }

.hammersmith-city {
  background-color: #CC9999;
  color: white;
  padding: 10px; }

.jubilee {
  background-color: #868F98;
  color: white;
  padding: 10px; }

.metropolitan {
  background-color: #660066;
  color: white;
  padding: 10px; }

.northern {
  background-color: #000;
  color: white;
  padding: 10px; }

.piccadilly {
  background-color: #000099;
  color: white;
  padding: 10px; }

.victoria {
  background-color: #0099CC;
  color: white;
  padding: 10px; }

.waterloo-city {
  background-color: #66CCCC;
  color: #333;
  padding: 10px; }

.london-overground {
  background-color: #ff6600;
  color: white;
  padding: 10px; }

.dlr {
  background-color: #009999;
  color: white;
  padding: 10px; }

.thameslink {
  background-color: #40215B;
  color: white;
  padding: 10px; }

.southeastern {
  background-color: #63C000;
  color: white;
  padding: 10px; }

.bus {
  background-color: #333;
  color: #fb0;
  padding: 10px; }

h1, h2, p {
  padding: 0;
  margin: 0; }

h1 {
  font-weight: 400;
  font-family: Helvetica, sans-serif; }

h2 {
  font-weight: 200; }

.title {
  margin-top: 15px; }

#container {
  margin: 0 auto;
  width: 900px; }

#events {
  color: aqua; }

.block {
  display: inline-block;
  padding-right: 10px;
  width: 30%; }

@media (min-width: 20em) and (max-width: 46.24em) {
  .foo {
    background: red; } }

@media (min-width: 46.25em) {
  .foo {
    background: green; } }
