$font-stack:    Helvetica, sans-serif;
$primary-color: #ccc;
$image-borders: 1px solid red;
$radius: 50%;


body {
  background-color: $primary-color;
  margin: 0 auto;
  font-family: $font-stack;
}

h4{
  background-color: lime;
  font-family: $font-stack;
}

.bakerloo {
  background-color: #996633;
  color:white;
  padding:10px;
}

.central {
  background-color: #CC3333;
  color:white;
  padding:10px;
}

.circle {
  background-color: #FFCC00;
  color:#333;
  padding:10px;
}

.district {
  background-color: #006633;
  color:white;
  padding:10px;
}

.hammersmith-city {
  background-color: #CC9999;
  color:white;
  padding:10px;
}

.jubilee {
  background-color: #868F98;
  color:white;
  padding:10px;
}

.metropolitan {
  background-color: #660066;
  color:white;
  padding:10px;
}

.northern {
  background-color: #000;
  color:white;
  padding:10px;
}

.piccadilly {
  background-color: #000099;
  color:white;
  padding:10px;
}

.victoria {
  background-color: #0099CC;
  color:#333;
  padding:10px;
}

.waterloo-city {
  background-color: #66CCCC;
  color:#333;
  padding:10px;
}

.london-overground {
  background-color: #ff6600;
  color:white;
  padding:10px;
}

.dlr {
  background-color: #009999;
  color:white;
  padding:10px;
}

.thameslink {
  background-color: #40215B;
  color:white;
  padding:10px;
  margin-bottom: 10px;
}

.bus {
  background-color: #000;
  color:red;
  padding:10px;
}

h1, h2, p {
  padding: 0;
  margin: 0; }

h1 {
  font-weight: 400;
  font-family: $font-stack;}

h2 {
  font-weight: 200; }

.title {
  margin-top: 15px; }

img {
  width: 80%;
  padding: 5%;
  animation-name: fader;
  animation-duration: 2s;
  border: $image-borders;
  border-radius: $radius; }

@keyframes fader {
  from {
    opacity: 0; }
  to {
    opacity: 100; } }
